{% extends "base.html" %}
{% block content %}
    <h1 class="main-title">О нас</h1>

    <section class="about">
        <div class="about-wrapper">
            <div class="about-item">
                <h2 class="item-title">Профессиональные работники</h2>
                <p class="item-text">Наши работники — не только эксперты в своей сфере,
                    но и сами живут тюнингом. Их цель —
                    сделать тюнинг таким, каким он должен быть:
                    осознанным, интересным и результативным.</p>
            </div>
            <div class="about-item">
                <h2 class="item-title">Актуальность</h2>
                <p class="item-text">Самыые лучшие новинки. Имеются как и зарубежные запчасти, так и отечественные. Самый широкий выбор
                - только здесь и только сейчас!</p>
            </div>
            <div class="about-item">
                <h2 class="item-title">Подход к каждому</h2>
                <p class="item-text">Мы находим подход к каждому клиенту. У нас большая база клиентов и каждый их них может
                доверить нам свой автомобиль.</p>
            </div>
        </div>
    </section>
    <section class="card-wrapper">
        <div class="card card_one">
            <div class="card_image">
            </div>
            <div class="card_info">
                <h4 class="card_title">МЫ можем вам помочь с ваше проблемой</h4>
                <ul class="card_list">
                    <li>Многие люди уже сталкивались с нами и мы каждом помогли решить их вопрос</li>
                    <li>У нас большая клиентская база</li>
                    <li>Благодря нам 100500 клиентов смогли решить вопросы про улучшения автомобиля</li>
                    <li>Практикуем работу с иностранными партнёрами;</li>
                </ul>
            </div>
        </div>
    
        <div class="card card_one">
            <div class="card_image">
            </div>
            <div class="card_info">
                <h4 class="card_title">Принципы работы</h4>
                <ul class="card_list">
                    <li>Клиент всегда прав, даже если не прав</li>
                    <li>Помогать клиенту вне зависимости от его желаний</li>
                    <li>Каждый клиент важный гость для нас</li>
                    <li>Каждый имеет права получить нужные запчасти</li>
                    <li>Быть большой и дружной семьей</li>
                </ul>
            </div>
        </div>
    
        <div class="card card_one">
            <div class="card_image">
            </div>
            <div class="card_info">
                <h4 class="card_title">Политика к другим компаниям</h4>
                <ul class="card_list">
                    <li>Каждая другая кампания - это спореник, которго мы уважаем;</li>
                    <li>Каждый соперник помогает нам становиться лучше</li>
                    <li>Если соперники вздумают что-то сделать в ущеб компании будет худо</li>
                    <li>Не приминять атомное оружие</li>
                    <li>Радиактивное тоже нельзя</li>
                </ul>
            </div>
        </div>
    </section>
</div>

{% endblock %}