<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap">
    <link rel="stylesheet" href="./style.css">
    <title>Academy TOP</title>
</head>
<body>
  
    <!-- HEADER  -->


    <div class="container">
        <header class="header">
            <div class="header_logo">
                <img src="img/top.png" alt="#">
            </div>
            <div class="header_link">
                <a href="#">Очное обучение</a>
                <a href="#">Online обучение</a>
            </div>
            <div class="header_button top_btn">
                <button>Почта</button>
                <button>Телефон</button>
            </div>
        </header>
    </div>

    <div class="container">
        <section class="start">
            <h4 class="start-title">Компьютерная Академия<span> TOP TOP TIP TOP</span> <br>
            </h4>
            <div class="main-info">
                <div class="main-info-text">
                      <pre>
                        Мы сможем сделать
                        из вас самых
                        лучших профессионалов!
                </pre>
                <div class="top_btn">
                    <button>Оставить заявку</button>
                </div>
                    
                </div>
                <div class="main-img">
                    <img src="./img/yousaidfamily.jpg" alt="#">
                </div>
            </div>
        </section>

        <section class="about">
            <h4 class="start-title">О нас</h4>
            <div class="about-wrapper">
                <div class="about-item">
                    <h2 class="item-title">Профессиональные учителя</h2>
                    <p class="item-text">Наши преподаватели — не только эксперты в своей сфере,
                        но и профессиональные педагоги. Их цель —
                        сделать образование таким, каким оно должны быть:
                        осознанным, интересным и результативным.?</p>
                </div>
                <div class="about-item">
                    <h2 class="item-title">Актуальность</h2>
                    <p class="item-text">Прежде чем запустить программу обучения,
                        обсуждаем её с компаниями-партнерами —
                        будущими работодателями наших выпускников.
                        Это нужно, чтобы в знаниях студентов и самой
                        программе не было слабых мест.</p>
                </div>
                <div class="about-item">
                    <h2 class="item-title">Атмосфера</h2>
                    <p class="item-text">В стенах Академии TOP нет «отстающих»,
                        «любимчиков» или «конкурентов».
                        Студенты поддерживают друг друга,
                        чтобы получить профессию и найти единомышленников.
                        Бывало, что выпускники создавали свой стартап и
                        покидали TOP предпринимателями.</p>
                </div>
            </div>
        </section>
        <section class="card-wrapper">
            <div class="card card_one">
                <div class="card_image">
                    <img src="./img/img1.jpg" alt="image">
                </div>
                <div class="card_info">
                    <h4 class="card_title">Вы специалист/<br>предприниматель</h4>
                    <ul class="card_list">
                        <li>устроитесь на работу в международную компанию;</li>
                        <li>получите повышение на текущем месте работы;</li>
                        <li>отправитесь в командировки за границу;</li>
                        <li>начнёте работать с иностранными партнёрами;</li>
                        <li>сможете путешествовать без ограничений.</li>
                    </ul>
                </div>
            </div>
        
            <div class="card card_one">
                <div class="card_image">
                    <img src="./img/img2.jpg" alt="image">
                </div>
                <div class="card_info">
                    <h4 class="card_title">Вы специалист/<br>предприниматель</h4>
                    <ul class="card_list">
                        <li>устроитесь на работу в международную компанию;</li>
                        <li>получите повышение на текущем месте работы;</li>
                        <li>отправитесь в командировки за границу;</li>
                        <li>начнёте работать с иностранными партнёрами;</li>
                        <li>сможете путешествовать без ограничений.</li>
                    </ul>
                </div>
            </div>
        
            <div class="card card_one">
                <div class="card_image">
                    <img src="./img/img3.jpg" alt="image">
                </div>
                <div class="card_info">
                    <h4 class="card_title">Вы специалист/<br>предприниматель</h4>
                    <ul class="card_list">
                        <li>устроитесь на работу в международную компанию;</li>
                        <li>получите повышение на текущем месте работы;</li>
                        <li>отправитесь в командировки за границу;</li>
                        <li>начнёте работать с иностранными партнёрами;</li>
                        <li>сможете путешествовать без ограничений.</li>
                    </ul>
                </div>
            </div>
        </section>
    </div>


    <div class="container">
        <div class="top">
            <div class="top_text">
                <p>Пройдите тест, чтобы узнать <br>уровень английского</p>
            </div>
            <div class="top_btn">
                <button>Пройти тест</button>
            </div>
        </div>
    </div>





    <!-- Cтоимость обучения -->


    <div class="container">
        <div class="card_container">
            <h1>Стоимость обучения</h1>
            <h3>Занятие в офисах школы или онлайн в виртуальном классе</h3>

            <div class="card_wrapper">
                <div class="card_w card_first">
                    <div class="card_caption">
                        <p class="card_caption_heading">Индивидуальные<br>занятия</p>
                        <p class="card_caption_description">Стоимость за урок<br>
                            (абонименты<br>на 8 или 12 занятий).</p>
                    </div>
                    <div class="card_checklist">
                        <ul>
                            <li>Индивидуально составленная программа</li>
                            <li>Уровни: от начального до продвинутого</li>
                            <li>Занятия от 2 до 5<br> раз в неделю по 60 минут</li>
                            <li>Итоговый экзамен<br> и сертификат по окончании<br> курса</li>
                        </ul>
                    </div>
                    <div class="card_board">
                        <p><span class="card_board_price">900 ₽</span> онлайн</p>
                        <p><span class="card_board_price">1000 ₽</span> в школе</p>
                    </div>
                    <div class="card_button top_btn">
                        <button>Оставить заявку</button>
                    </div>
                </div>

                <div class="card_w card_first">
                    <div class="card_caption">
                        <p class="card_caption_heading">Индивидуальные<br>занятия</p>
                        <p class="card_caption_description">Стоимость за урок<br>
                            (абонименты<br>на 8 или 12 занятий).</p>
                    </div>
                    <div class="card_checklist">
                        <ul>
                            <li>Индивидуально составленная программа</li>
                            <li>Уровни: от начального до продвинутого</li>
                            <li>Занятия от 2 до 5<br> раз в неделю по 60 минут</li>
                            <li>Итоговый экзамен<br> и сертификат по окончании<br> курса</li>
                        </ul>
                    </div>
                    <div class="card_board">
                        <p><span class="card_board_price">900 ₽</span> онлайн</p>
                        <p><span class="card_board_price">1000 ₽</span> в школе</p>
                    </div>
                    <div class="card_button top_btn">
                        <button>Оставить заявку</button>
                    </div>
                </div>

                <div class="card_w card_first">
                    <div class="card_caption">
                        <p class="card_caption_heading">Индивидуальные<br>занятия</p>
                        <p class="card_caption_description">Стоимость за урок<br>
                            (абонименты<br>на 8 или 12 занятий).</p>
                    </div>
                    <div class="card_checklist">
                        <ul>
                            <li>Индивидуально составленная программа</li>
                            <li>Уровни: от начального до продвинутого</li>
                            <li>Занятия от 2 до 5<br> раз в неделю по 60 минут</li>
                            <li>Итоговый экзамен<br> и сертификат по окончании<br> курса</li>
                        </ul>
                    </div>
                    <div class="card_board">
                        <p><span class="card_board_price">900 ₽</span> онлайн</p>
                        <p><span class="card_board_price">1000 ₽</span> в школе</p>
                    </div>
                    <div class="card_button top_btn">
                        <button>Оставить заявку</button>
                    </div>
                </div>

                <div class="card_w card_first">
                    <div class="card_caption">
                        <p class="card_caption_heading">Индивидуальные<br>занятия</p>
                        <p class="card_caption_description">Стоимость за урок<br>
                            (абонименты<br>на 8 или 12 занятий).</p>
                    </div>
                    <div class="card_checklist">
                        <ul>
                            <li>Индивидуально составленная программа</li>
                            <li>Уровни: от начального до продвинутого</li>
                            <li>Занятия от 2 до 5<br> раз в неделю по 60 минут</li>
                            <li>Итоговый экзамен<br> и сертификат по окончании<br> курса</li>
                        </ul>
                    </div>
                    <div class="card_board">
                        <p><span class="card_board_price">900 ₽</span> онлайн</p>
                        <p><span class="card_board_price">1000 ₽</span> в школе</p>
                    </div>
                    <div class="card_button top_btn">
                        <button>Оставить заявку</button>
                    </div>
                </div>
            </div>
              
        </div>

        
        <!-- Чат -->

        <div class="chat_wrapper">
            <div class="chat_container">

                <div class="message_block_one message_block">
                    <div class="message_info">
                      <p class="user_name">Anie Smith</p>
                      <p class="user_hours_ago">4 hours ago</p>
                      <img src="./img/2.png" alt="icon" class="user_icon">
                    </div>
                    <div class="message_window_guest">
                      <p class="message">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt.
                      </p>
                    </div>
                  </div>
              
                  <div class="message_block_two message_block">
                    <div class="message_window_you">
                      <p class="message">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit.
                      </p>
                    </div>
                    <div class="message_info_two">
                      <p class="user_name_you">Jack Silverston</p>
                      <p class="user_hours_ago_you">4 hours ago</p>
                      <img src="./img/1.png" alt="icon" class="user_icon_you">
                    </div>
                  </div>
              
                  <div class="message_block_one message_block">
                    <div class="message_info">
                      <p class="user_name">Anie Smith</p>
                      <p class="user_hours_ago">4 hours ago</p>
                      <img src="./img/2.png" alt="icon" class="user_icon">
                    </div>
                    <div class="message_window_guest">
                      <p class="message">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt.
                      </p>
                    </div>
                  </div>
              
                  <div class="message_block_two message_block">
                    <div class="message_window_you">
                      <p class="message">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore magni officiis ratione harum.
                      </p>
                    </div>
                    <div class="message_info_two">
                      <p class="user_name_you">Jack Silverston</p>
                      <p class="user_hours_ago_you">3 hours ago</p>
                      <img src="./img/1.png" alt="icon" class="user_icon_you">
                    </div>
                  </div>
              
                  <div class="message_block_one message_block">
                    <div class="message_info">
                      <p class="user_name">Anie Smith</p>
                      <p class="user_hours_ago">3 hours ago</p>
                      <img src="./img/2.png" alt="icon" class="user_icon">
                    </div>
                    <div class="message_window_guest">
                      <p class="message">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt.
                      </p>
                    </div>
                  </div>
              
                  <div class="message_block_two message_block">
                    <div class="message_window_you">
                      <p class="message">
                        Lorem ipsum dolor sit amet consectetur.
                      </p>
                    </div>
                    <div class="message_info_two">
                      <p class="user_name_you">Jack Silverston</p>
                      <p class="user_hours_ago_you">2 hours ago</p>
                      <img src="./img/1.png" alt="icon" class="user_icon_you">
                    </div>
                  </div>
                  
            </div>
        </div>


    </div>

    <!-- footer -->
    <footer class="footer">
        <div class="container">
            <div class="footer_card_wrapper">
                <div class="footer_card firts_card">
                    <div class="footer_card_icon_pay">
                        <img src="./img/card1.jpg" alt="#">
                        <img src="./img/card2.jpg" alt="#">
                    </div>
                    <div class="footer_card_icon_social">
                        <img src="./img/int_icon.svg" alt="#">
                        <img src="./img/youtube_icon.svg" alt="#">
                    </div>
                    <div class="footer_card_social_description">
                        <p>Подпишитесь на нас<br>в Youtube и Instagram</p>
                        <p>Мы в образовании не случайно<br>и надолго!</p>
                    </div>
                </div>
    
                <div class="footer_card second_card">
                    <div class="footer_description">
                        <p>ТОО "Good Will Union"<br>БИН 180140034538<br>email: study@scholarships.ru<br>Call центр: +7 775 030 93 13</p>
                        <p>® "Scholarships"<br>Свидетельство на товарный знак<br>№74549 от РГП «Национальный<br>институт интеллектуальной<br>собственности» МЮ РК г. Нур-Султан</p>
                    </div>
                </div>

                <div class="footer_card third_card">
                    <div class="footer_title">
                        <p>Клиентам</p>
                    </div>
                    <div class="footer_link">
                        <ul>
                            <li><a href="#">Договор публичной Оферты</a></li>
                            <li><a href="#">Политика конфидециальности</a></li>
                        </ul>
                    </div>
                </div>

                <div class="footer_card fourth_card">
                    <div class="footer_title">
                        <p>Информация</p>
                    </div>
                    <div class="footer_link">
                        <ul>
                            <li><a href="#">Контакты</a></li>
                            <li><a href="#">Адрес школы</a></li>
                            <li><a href="#">Вакансии</a></li>
                            <li><a href="#">Режим работы COVID-19</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    
</body>
</html>